<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'home', media: 'all' %>
  </head>

  <body>
    <div class="hero-text">
      <h1>QuickFic</h1>
      <h2>a place for sharing</h2>
    </div>
  </body
</html>